@font-face {
  font-family: "KoddiUD OnGothic";
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.2;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  word-break: keep-all;
  font-family: "KoddiUD OnGothic";
  color: #000;
  line-height: 1.5;
  max-width: 100vw;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "KoddiUD OnGothic" !important;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: inherit;
}
