*{margin: 0 auto;
    padding: 0;
font-family: 'Koddiud 온고딕',sans-serif;
list-style: none;}

h2,h3,h4{color:#fff}
@media screen and (max-width: 1920px){
    
h2{margin: 25px;
}

#linear_gradient{
    background: -webkit-linear-gradient(top, #C7C7C7 0, #fe65cb 100%)no-repeat;
}

header{
    position: fixed;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1300;
    background-color: #0085DE;
    border-radius: 0px 0px 20px 20px;
}

#first_menu{
    position: absolute;
    right: 5px;
    top: 38px;
    width: 100px;
}
.my_info {
    display: block;
    width: 24px;
    height: 24px;
    float: right;
    background: url(my_info.png) no-repeat 0 0;
    background-size: 100%;
    
}
h1.main-menu {
    float: left;
}

#Main_nav{
    width: 810px;
    margin: 0 auto;
    padding-top: 36px;
}
.side-menu-logo{

    height: 50px;
    position: absolute;
    right: 6px;
    top: 0px;
    /*padding-top: 42px;*/
}
.gnb_logo{

    padding: 25px;

}
ul.gnb>li{
    float: left;
    list-style: none;
}
.gnb li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: koddiUD OnGothic;
    padding: 0 20px;
}    
.gnb li ul{
    text-align: center;
}


.burgur{
    right: 26px;
    top: 12px;
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000000;
}
.burgur .top-line{
    width: 20px;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    content: '';
    position: absolute;
    right: 0;
    -webkit-transition:  -webkit-transform .3s;
    transition: transform .3s;
}
.burgur .bot-line {
    width: 20px;
    height: 2px;
    background-color: #000000;
    top: -5px;
    content: '';
    position: absolute;
    right: 0; 
    -webkit-transition:  -webkit-transform .3s;
    transition: transform .3s;
}
.burgur.on {width: 0;}
.burgur.on .bot-line {
    -webkit-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
}
.burgur.on .top-line{
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}


.slide{
    width:100%;
    position: absolute;
    left:-300%;
    top:99px;
    right:0;
    bottom:0;
    transition:left .3s;
    -webkit-transition:left .3s;
    background:#0085DE;
    border-radius: 10px;
    z-index: 1200;
}

.slide.on{left:0;}
.slide ul li{
    display:inline-block;
    width:100%;
    padding:10px;
    border-bottom:1px solid #e1e1e1;
    box-sizing: border-box;
}

#slide>ul>li>a {
    text-decoration: none;
    color: white;
}


#wrapper{
    padding-top: 80px;
    /*width: 100%;*/
    margin: 0 auto;
    /*overflow: hidden;*/

}

#wrapper>div>h2{
    padding: 0 10px;
    box-sizing: border-box;
}

/*div#wrapper{
  
    margin-top: 100px;
    overflow: hidden;
    background: -webkit-linear-gradient(top, #e5e5e5 0, #f48cce 100%);

}*/





div#contetn-wrap{
    position: relative;
}
div#content>h2{
    padding-top:100px;
}


#content-wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
}


#Curation-warp{

    width: 400vw;
    transition: transform 0.5s;
}
.Curation{
    position: relative;
    margin-top: 20px;
    width: 100vw;
    height:500px;
    border-radius: 20px 20px 20px 20px;
    background-size: 100%;
    padding: 260px 60px 30px 60px;
    box-sizing: border-box;
    float: left;
    
}
.Curation>p{
    color: white;
}
#Curation-view{
    overflow: hidden;
    width:100%;
    margin:0 auto;

}
.btn{
    position: absolute;
    left: 50%;
    bottom:10px;
}

.btn>button{
    float: left;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    padding: 4px;
    border-radius: 10px;
    text-indent: -99999em;
}



.Curation01{
    background: url(curation_3-2.png) no-repeat center;
    background-size: 100%;
}
.Curation02{
    background: url(curation_1.png) no-repeat center;
    background-size: 100%;
}
.Curation03{
    background: url(curation_2.png) no-repeat center;
    background-size: 100%;
}
.Curation04{
    background: url(curation_4.png) no-repeat center;
    background-size: 100%;
}

.map_Location_left{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width: 780px;
    height: 460px;
    border-radius: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    box-sizing: border-box;
}

.map_Location_left > ul > li{
    display: inline-block;
    background-color: #C7C7C7;
    border-radius: 10px 10px 10px 10px;
    padding: 5px 10px;
}


.map_Location_right{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    width: 1032px;
    height: 460px;
    border-radius: 20px 20px 20px 20px;
    background: #9800de no-repeat;
}
span.place{
    font-size: 20px;
    display: inline-block;
    width: 90px;
    text-align: center;
    border-bottom: 1px solid #333;
    margin: 0 20px;
}
iframe{
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;

}
.map_Location_right>ul>li{
    list-style:none;
}
.map_Location_left>ul>li{
    list-style: none;
}
#map_location{
    overflow: hidden;
    margin-top: 10px;
    width:100%;
    padding: 60px 0;
    border-radius: 20px 20px 20px 20px;
}
.map_Location_left>ul>li{
    margin: 5px;
}
.map_Location_left>ul{
    font-size: larger;
    overflow: hidden; 
    margin-top: 60px;
}


.Schedule{
    font-size: large;
    margin-top: 20px;
    width:99%;
    height:500px;
    border-radius: 20px 20px 20px 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
    box-sizing: border-box;
    
}

.headline{
    margin-top: 20px;
    font-size: 26px;
}

.bar_1{
    width: 1%;
    height: 77px;
    display: block;
    background: red;
    margin-right: 30px;
}

.bar_2{
    width: 1%;
    height: 77px;
    display: block;
    background: #F404FC;
    margin-right: 30px;
}

.bar_3{
    width: 1%;
    height: 77px;
    display: block;
    background: #0B0BF6;
    margin-right: 30px;
}

.text-warp{
    width: 580px;
    float: left;
}
.text-warp>p{
    font-size: 30px;
    padding: 20px 30px;
    margin: 15px 0;
}
.text-warp>p>.name{
    border-bottom:1px solid #ff0000;
    text-align: center;
}
.alarm{
    width: 65%;
    float: right;
}
.time{
    width: 9%;
}
.re{
    line-height: 28px;
    width: 40%;
    padding-top: 6px;
}
.telN{
    width: 35%;
    padding-top: 22px;
}
.alarm>li{
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
}   
   /*Swipe start*/
   .swiper {
    width: 50%;
    height: 50%;
  }


    /*Swipe end*/


.telIcon{
    width: 10%; 
    padding-top: 26px;
}
.alIcon{
   width: 40px;
   padding-top: 26px;
}

.evenT-wrap{
    margin-top: 20px;
}

#Event_page{
    margin-top: 20px;
    width:99%;
    height:500px;
    border-radius: 20px 20px 20px 20px;
    background: #0085DE;

}

.evenT_left{
    margin-left: 1%;
    width: 48%;
    height: 430px;
    margin-top: 20px;
    font-size: large;
    border-radius: 20px 20px 20px 20px;
    background: url(dj-with-headphones.png) no-repeat center;
    background-size: cover;
    float: left;
}

.evenT_left>p{
    width: 50%;
    margin: auto;
    padding-top: 141px;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}
.evenT_left>a{
    width: 50%;
    margin: auto;
    display: block;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.evenT_right{ 
    margin-right:1%;
    width: 48%;
    height: 430px;
    margin-top: 20px;
    font-size: large;
    border-radius: 20px 20px 20px 20px;
    background: url(20240607_175609.png) no-repeat center;
    background-size: cover;
    float: right;
}

.evenT_right>p{
    width: 50%;
    margin: auto;
    padding-top: 141px;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.evenT_right>a{
    width: 50%;
    margin: auto;
    display: block;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.date_Course{
    width: 96%;
    margin: 20px auto;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}
.date_course_slide{
 width: 2028px;
}
.date_course_slide li{
    width: 487px;
    background: #fff;
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-right: 20px;
    padding: 20px 20px 40px;
    box-sizing: border-box;
}

.cS_icon_left,.cS_icon_right{float: left;}

.pageMove-button1{
width: 123px;
height: 39px;
border-radius: 10px 10px 10px 10px;
border: none;
background: #fff url(telephone.png)no-repeat 10px;
}

.pageMove-button2{
    width: 123px;
    height: 39px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background: #fff url(speech-bubble.png)no-repeat 10px;
    }
    


#Hot_trend{
    width: 100%;
    margin-top: 20px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}
.location_pin{
    vertical-align: middle;
    margin-right: 8px;
}
.trend_headline{
    font-size: 20px;
    margin: 10px 0 20px;

}
.hot_trend_img{
    width: 100%;
}
.text-box{
    height: 120px;
}

#goods_Review{
    position: relative;
    width: 100%;
    margin-top: 20px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
}
.Review_pic_Wrap{
    overflow: hidden;
}
.Review_warp>div>h3{
    margin: 24px;
    color: black;
}
.goods_Review_pic{
    width: 40%;
    height: 304px;
    margin-right: 26px;
    border-radius: 10px 10px 0px 0px;
}

.Review_left{
    margin: 20px auto;
    width: 920px;
    margin-left: 20px;
    font-size: large;
    float: left;
    border-radius: 20px 20px 20px 20px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.Review_Right{
    margin: 20px auto;
    width: 920px;
    height: 341px;
    margin-right: 20px;
    font-size: large;
    float: right;
    border-radius: 20px 20px 20px 20px;
    background: #ffff;
    box-sizing: border-box;
    padding: 20px;

}

.center_footer{
    width: 1100px;
}

.cS_icon_left,.cS_icon_right{
    position: absolute;
}
.cS_icon_left {
    margin-left: -10px;
    margin-top: 12px;
    left: 1%;
}
.cS_icon_right {
    margin-top: 10px;
    left: 7%;
}
.left_footer>.customer-Center{
    font-size: 26px;
    color: black;
    font-weight: bold;
}

#footer{
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    background: #0085DE;;
    padding: 60px 40px;
    border-radius: 60px 60px 0 0;
    display: flex; 
}

.customer-Service{

    margin:16px 0 24px;
    font-size: 22px;
    font-weight: bold;
}
.center_footer{
    width: 1100px;
    display: flex;
}
.center_footer>ul>li{
    line-height: 30px;
}
.center_footer>ul>li:first-child{font-weight: bold; font-size: 26px; margin-bottom:16px;}
.center_footer>ul:nth-child(3)>li{font-weight: bold; font-size: 20px; margin-bottom:16px;}

}



@media screen and (max-width: 390px){

    #linear_gradient{
        background: -webkit-linear-gradient(top, #C7C7C7 0, #fe65cb 100%)no-repeat;
    }
    
    header{
        position: fixed;
        height: 100px;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1300;
        background-color: #0085DE;
        border-radius: 0px 0px 20px 20px;
    }
    div#first_menu{
        margin-right: 17px;
        position: absolute;
        top: 30px;
        width: 70px !important;
    }

    #content{
        overflow: hidden;
    }

    .subTitle{
        margin-top: 10px;
        margin-left: 10px;


    }
 

    .btn{
        position: absolute;
        left: 43%;
        bottom:10px;
    }
    

    /*brgur menu start*/
    .slide-open{
        position:absolute;
        top:0;
        right:0;
        width:50px;
        height:50px;
        cursor:pointer;
        z-index: 10;
    }
    .burgur{
        right: 26px;
        top: 12px;
        position: absolute;
        width: 20px;
        height: 2px;
        background: #000000;
    }
    .burgur .top-line{
        width: 20px;
        height: 2px;
        background-color: #000000;
        bottom: -5px;
        content: '';
        position: absolute;
        right: 0;
        -webkit-transition:  -webkit-transform .3s;
        transition: transform .3s;
    }
    .burgur .bot-line {
        width: 20px;
        height: 2px;
        background-color: #000000;
        top: -5px;
        content: '';
        position: absolute;
        right: 0; 
        -webkit-transition:  -webkit-transform .3s;
        transition: transform .3s;
    }
    .burgur.on {width: 0;}
    .burgur.on .bot-line {
        -webkit-transform: translateY(5px) rotate(135deg);
        transform: translateY(5px) rotate(135deg);
    }
    .burgur.on .top-line{
        -webkit-transform: translateY(-5px) rotate(-135deg);
        transform: translateY(-5px) rotate(-135deg);
    }
    /*brgur menu end*/


    /*slide menu start*/
    .slide{
        width:100%;
       height: 100%;
        position:absolute;
        left:-230%;
        top:103px;
        right:0;
        bottom:0;
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
        background-color:#0085DE;
        border-radius:10px ;
        z-index: 1100;
    }
    
    .slide.on{left:0;}
    .slide ul li{
        display:block;
        width:100%;
        padding:10px;
        border-bottom:1px solid #e1e1e1;
        box-sizing: border-box;

    }
    /*slide menu end*/



    .main-menu{
    float: left;
    /*margin-left: 20px;
    padding-top: 22px;
    text-align: center;
    width: 100%;*/
    }
    #Main_nav{
        width: 810px;
        margin: 0 auto;
        padding-top: 36px;
    }
    .gnb_logo{padding: 20px;}
    ul.gnb>li{
        float: left;
        list-style: none;
    }
    .gnb li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: koddiUD OnGothic;
        padding: 0 20px;
        display: none;
    }    
    .gnb li ul{
        text-align: center;
    }
    .my_info{
        float: right;
    }  

    div#content>h2 {
        padding-top: 30px;
        margin-bottom: 20px;
    }
    div#wrapper{
      
        width: 100%;
        overflow: hidden;
        margin-top: 39px;
    }
    #Curation-warp{
        overflow: hidden;
        width: 400%;
        height: 242px;
    }

    .Curation03{
       /* bottom: 42px;*/
    }
    .Curation04{
      /* bottom: 15px;*/
    }

    .Curation03, .Curation04{
        position: absolute;
       /* left: 20px;*/
    }


    .Curation {
        position: relative;
       margin-top: 0; 
        width: 25%;
        height: 100%;
      padding: 0; 
        box-sizing: border-box;
        float: left;
    }
    .Curation>p{
        display: none;
    }
    #Curation-view{
        overflow: hidden;
        width:100%;
        margin:0 auto;
    
    }
    .Curation h3,.Curation h4{
        position: absolute;
        /*left: 20px;*/
    }



    .Curation01{
        background: url(curation_mobile_1.png) no-repeat center;
        background-size: 100% 100%;
    }
    .Curation02{
        background: url(curation_mobile_3.png) no-repeat center;
        background-size: 100% 100%;
    }
    .Curation03{
        background: url(curation_mobile_2.png) no-repeat center;
        background-size: 100% 100%;
    }
    .Curation04{
        background: url(curation_mobile_4.png) no-repeat center;
        background-size: 100% 100%;
    }
    
    .map_Location_left{
        float: none;
        width: 90%;
        height: 315px;
        border-radius: 20px 20px 20px 20px;
        background: rgba(255, 255, 255, 0.5);
        padding: 15px;
        box-sizing: border-box;
        margin: 25px auto;
        overflow: hidden;
    }
    
    .map_Location_left > ul > li{
        display: inline-block;
        background-color: #C7C7C7;
        border-radius: 10px 10px 10px 10px;
        padding: 5px 10px;
    }
    
    
    .map_Location_right{
        float: none;
        width: 90%;
        height: 360px;
        border-radius: 20px 20px 20px 20px;
        background: #9800de no-repeat;
        margin: 30px auto;
    }
    span.place{
        font-size: 20px;
        display: inline-block;
        width: 90px;
        text-align: center;
        border-bottom: 1px solid #333;
        margin: 0 20px;
    }
    iframe{
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        height: 100%;
    }
    .map_Location_right>ul>li{
        list-style:none;
    }
    .map_Location_left>ul>li{
        list-style: none;
    }
    #map_location{
        overflow: hidden;
        margin-top: 10px;
        width:100%;
        padding: 20px 0;
        border-radius: 20px 20px 20px 20px;
    }
    .map_Location_left>ul>li{
        margin: 10px;
    }
    .map_Location_left>ul{
        font-size: 10px;
        overflow: hidden; 
        margin-top: 9px;
    }
    
    
    .Schedule{
        font-size: large;
        margin-top: 20px;
        width:100%;
        height:auto;
        border-radius: 20px 20px 20px 20px;
        background: rgba(255, 255, 255, 0.5);
        padding: 15px 5px;
        box-sizing: border-box;
        overflow: hidden;
        
    }

    .Schedule-wrap{
        width: 96%;
        margin: 30px auto;
    }


    
    .headline{
        margin-top: 0px;
        font-size: 16px;
    }
    
    .bar{
        width: 1%;
        height: 77px;
        display: block;
        background: red;
        margin-right: 30px;
    }
    
    .text-warp{
       width: 100%;
       float: none;
       margin-bottom: 20px;
    }
    .text-warp>p{
        font-size: 18px;
        padding: 5px 20px;
        margin: 5px 0;
    }
    .text-warp>p>.name{
        border-bottom:1px solid #ff0000;
        text-align: center;
    }
    .alarm{
        width: 100%;
        float: right;
    }
    .alarm>li{
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      margin-bottom: 30px;
      padding: 20px 5px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .time{
        margin-top: 13px;
        width: 15%;
        font-size: 13px;
    }
    

    .re{
        width: 45%;
        padding-top: 5px;
        font-size: 10px;
    }
    .telN{
        width: 30%;
        padding-top: 28px;
        font-size: 10px;
    }

      /*Swipe start*/


    .swiper {
         width: 50%;
        height: 50%;
        }


    /*Swipe end*/




    .alarm>li{
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        margin-bottom: 30px;
        padding: 20px 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }   
    
    .telIcon{
        width: 100%;
        margin: 0 auto;


    }
        
    .alIcon>img{
        width: 100%;
    }

    
    .telIcon>img{
        width: 100%;
    }

    .telIcon{
        width: 5%; 
        padding-top: 26px;
    }
    .alIcon{
       width: 5%;
       padding-top: 26px;
    }
    
    .evenT-wrap{
        margin-top: 20px;
    }
    
    #Event_page{
        width:96%;
        height:457px;
        border-radius: 20px 20px 20px 20px;
        background: rgba(255, 255, 255, 0.5);
        margin: 20px auto;
    
    }
    
    .evenT_left{
        margin-left: 1%;
        width: 98%;
        height: 210px;
        margin-top: 2%;
        font-size: large;
        border-radius: 20px 20px 20px 20px;
        background: url(dj-with-headphones.png) no-repeat center;
        background-size: cover;
        float: left;
    }
    
    .evenT_left>p{
        width: 84%;
        margin: auto;
        padding-top: 24%;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-align: right;
    }
    .evenT_left>a{
        width: 90%;
        display: block;
        padding: 0;
        font-size: 17px;
        color: #fff;
        text-decoration: none;
        text-align: right;
        margin-right: 28px;
    }
    .evenT_right{ 
        margin-right:1%;
        width: 98%;
        height: 210px;
        margin-top: 2%;
        font-size: large;
        border-radius: 20px 20px 20px 20px;
        background: url(20240607_175609.png) no-repeat center;
        background-size: cover;
        float: right;
    }
    
    .evenT_right>p{
        width: 84%;
        margin: auto;
        padding-top: 24%;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-align: right;
    }
    
    .evenT_right>a{
              width: 90%;
        display: block;
        padding: 0;
        font-size: 17px;
        color: #fff;
        text-decoration: none;
        text-align: right;
        margin-right: 28px;
    }
    
    .date_Course{
        width: 96%;
        margin: 20px auto;
        border-radius: 20px 20px 20px 20px;
        overflow: hidden;
    }
    .date_course_slide{
     width: 2028px;
    }
    .date_course_slide li{
        width: 16%;
        background: #fff;
        border-radius: 20px 20px 20px 20px;
        float: left;
        margin-right: 20px;
        padding: 20px 20px 40px;
        box-sizing: border-box;
    }
    
    .cS_icon_left,.cS_icon_right{float: left;}

    .cs_Button{
        display: none;

    }

    .open_Hr{
        margin-left: 0%;
        text-align: center;
        font-size: 15px;
    }
    
    .pageMove-button1{
    width: 80px;
    height: 39px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border: none;
    background: #fff url(telephone.png)no-repeat 50%;
    }
    
    .pageMove-button2{
        width: 80px;
        height: 39px;
        border-radius: 10px 10px 10px 10px;
        border: none;
        background: #fff url(speech-bubble.png)no-repeat 50%;
        }
        
    
    
    #Hot_trend{
        width: 100%;
        margin-top: 20px;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
    }
    .location_pin{
        vertical-align: middle;
        margin-right: 8px;
    }
    .trend_headline{
        font-size: 20px;
        margin: 10px 0 20px;
    
    }
    .hot_trend_img{
        width: 100%;
    }
    .text-box{
        font-size: 12px;
        height: 120px;
    }
    
    #goods_Review{
        position: relative;
        width: 100%;
        margin-top: 20px;
        border-radius: 0px 0px 20px 20px;
        overflow: hidden;
    }
    .Review_pic_Wrap{
        overflow: hidden;
    }
    .Review_warp>div>h3{
        margin: 10px;
        color: black;
    }
    .goods_Review_pic{
        width: 40%;
        height: 160px;
        margin-right: 26px;
        border-radius: 10px 10px 10px 10px;
    }
    
    .Review_left{
        height: 20%;
        margin: 18px auto;
        width: 91%;
        margin-left: 20px;
        font-size: 10px;
        float: left;
        border-radius: 20px 20px 20px 20px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
    }
    .Review_Right{
        height: 20%;
        margin: 18px auto;
        width: 91%;
        margin-left: 20px;
        font-size: 10px;
        float: left;
        border-radius: 20px 20px 20px 20px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
    
    }
    
    .left_footer>.customer-Center{
        margin-left: 30%;
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
    
    .center_footer{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    
    .cS_icon_left,.cS_icon_right{
        position: absolute;
    }

    
    #footer{
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        background: #0085DE;;
        padding: 10px 10px;
        border-radius: 10px 10px 0 0;
        display: block;
    }

    .left_footer{
        width: 50%;
        margin: 20px auto;
    }


    .customer-Service{
        width: 100%;
        font-size: 15px;
        margin: 20px 0;
    }
    .center_footer>ul{
        margin: 10px 5px;
        width:27%;
        float: left;
    }
    .center_footer>ul>li{
        font-size: 14px;
        line-height: 23px;
    }
    .center_footer>ul>li:first-child{font-weight: bold; font-size: 15px; margin-bottom:16px;}

    .center_footer>ul>li:first-child{font-weight: bold; font-size: 15px; margin-bottom:16px;}
    .center_footer>ul:nth-child(3)>li{font-weight: bold; font-size: 10px; margin-bottom:16px;}
    
    }