*{margin: 0 auto;
font-family:'KoddiUD 온고딕'}
a{text-decoration: none;}
ul{list-style: none;}


@media screen and (max-width: 1920px){
    #linear_gradient{
        background: -webkit-linear-gradient(top, #C7C7C7 0, #fe65cb 100%)no-repeat;
        height: 953px;
    }
    #login_project2>p>img{
        position: absolute;
        top:10px;
        margin-left: 12px;
    }
    .project2_login{
        width: 100%;
        overflow: hidden;
    }
    .project2_login>h2{text-align: center; padding: 80px 0;}
    #login_project2{
        width: 251px;
        margin: 0 auto;
    }
    
    #login_project2>p{
        position: relative;
        margin-bottom: 20px;
    }
    #login_project2>p>input, #login_project2>p>button{
        background: rgba(255,255,255,0.8);
        width: 251px;
        height: 42px;
        border-radius: 10px;
        outline-style: none;
        border:none;
    }
    /*#login_project2>p>button{
        margin-top:75px;
    }*/
    input[type='text'],input[type='password']{
        text-indent: 102px;
    }
    .icon1,.icon2{
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .SNS_login{
        margin-bottom:150px ;
        width: 283px;
        float: right;
    }
    
    .find{
        float: right;
        margin-bottom: 41px;
        font-size: 18px;
    
    }
    .find>li>a{
    
        font-size: 15px;
        font-family: 'KoddiUD OnGothic';
        color: #707070;
        display: block;
        text-align: right;
        line-height: 20px;
        text-decoration: none;
    }
    }
    .sns_logo{
        display: flex;
        margin: 10px 0;
    }

    .icon-s{
        width: 50px;
    }

    .sns_logo>p{
        text-align: left;
        line-height: 30px;
        margin: 0;
    }


    #login_project2>p {
        position: relative;
    }

    #login_project2>p>img {
            position: absolute;
            top: 10px;
            margin-left: 12px;}

  .find>li a{
    font-size: 15px;
  }




@media screen and (max-width: 390px){
#linear_gradient{
    background: -webkit-linear-gradient(top, #C7C7C7 0, #fe65cb 100%)no-repeat;
    height: 1200px;
}
#login_project2>p>img{
    position: absolute;
    top:10px;
    margin-left: 12px;
}
.project2_login{
    width: 100%;
    overflow: hidden;
}
.project2_login>h2{text-align: center; padding: 80px 0;}
#login_project2{
    width: 251px;
    margin: 0 auto;
}

#login_project2>p{
    position: relative;
    margin-bottom: 20px;
}
#login_project2>p>input, #login_project2>p>button{
    background: rgba(255,255,255,0.8);
    width: 251px;
    height: 42px;
    border-radius: 10px;
    outline-style: none;
    border:none;
}
#login_project2>p>button{
margin-top:100px;
}
input[type='text'],input[type='password']{
    text-indent: 102px;
}
.icon1,.icon2{
    position: absolute;
    left: 20px;
    top: 20px;
}

.find{
    float: right;
    margin-bottom: 41px;
    font-size: 18px;

}

.sns_logo{
    display: flex;
    margin: 10px 0;
}
.icon-s{
    width: 50px;
}

.sns_logo>p{
    text-align: left;
    line-height: 30px;
    margin: 0;
}

.SNS_login{
    width: 283px;
    float: right;
}



.find>li>a{

    font-size: 15px;
    font-family: 'KoddiUD OnGothic';
    color: #707070;
    display: block;
    text-align: right;
    line-height: 20px;
    text-decoration: none;
}
.SNS_login{
    float: right;
}

#login_project2>p {
    position: relative;
}


    
 #login_project2>p>img {
    position: absolute;
    top: 10px;
    margin-left: 12px;    

}
}