
/*basic style*/
*{margin: 0 auto; padding:0;}
*{list-style: none;}
body{ font: 100% "KoddiUD", "온고딕","ExtraBold";font-size: 17px;}

h2{ 
    padding: 10px;
    text-align: center;
    clear: both;
    font-size: 40px;
}

 /*header style*/


#header{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
#header-inner{
    width: 1750px;
    margin: 0 auto;
    overflow: hidden;
}
#heart_button{
    position: absolute; 
    margin-top: 5px;
    padding-left: 30px;
}

h1{
    background: url(Images/Main-logo.png)no-repeat 0 50%;
    background-size:60%;
    width: 83px;    
    height: 83px;
    padding: 3px;
    float: left;

}
#header-inner ul.main-menu{
    margin:30px auto;
    width: 821px;
}
#header-inner ul.main-menu a{
    text-decoration: none;
    color:#fff
}

#header-inner ul.main-menu li{
    
    list-style: none;
    background: #000;
    padding:0px 25px;
    border-radius:20px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 6px;
}

#header-inner ul.main-menu li >:hover{
    color: #0000ff;

}

#Search ul.Search-bar li{

    list-style: none;
    background: #000;
    border-radius: 20px;
    color: white;
    line-height: 45px;
    text-align: center;
    float: right;
    width: 540px;
    height: 40px;
    
}

ul#sidelogo>li{
    margin: 5px;
    float: left;}
#sidelogo{
    list-style: none;
    float: right;
}
#social-Page{
    background: #f4f4f6;
    width: 1650px;
    overflow: hidden;
    margin: 10px auto;
    padding-bottom: 10px;
    border-radius: 10px
}
.picture-page{
    float: left;
    width: 600px;
    background: #e3e3e3e3;
    margin: 0 auto;
}
.social-Pic{
    border-radius:30px ;
    width: 94%;
    height: 600px;
    padding: 18px;
}
.inner-social-page{

    background: #e3e3e3e3;
    border-radius: 10px;
    width: 1650px;
    margin: 10 auto;
    position: relative;
    overflow: hidden;
}
.inner-social-page>p{
    position: absolute;
    top: 50%;
    width: 100%;
}
.inner-social-page>p>a:first-child{
    left: 0;
}
.inner-social-page>p>a:last-child{
    right: 0;
}

.like-comment{
    float: right;
    width: 1000px;
    background: solid #f4f4f6;
    padding: 30px;
    box-sizing: border-box;
}
.comment-area>p{
    float: left;
}
.comment-area>b{
    float: right;
}
.inner_comment{
    width: 766px;
    height: 25px;
}
.comment_submit{
    height: 27px;
}

.members{
    align-items: center;
    justify-content: space-around;

}

.members_Pic{
    border-radius: 10px;
}

.prE-sub{float: left;}
.nexT-sub{
    float: right;}
.inner-social-page> ul>.comment-Window{
    width: 500px;
    height: 500px;
    background: #f4f4f6;

}
#category{
    width: 1650px;
    height: 1250px;
    margin: 180px auto;
    position: relative;
   
}
#category div>a{
    text-decoration: none;
    color: #111;
}
 
.textArea{
    height: 280px;
    width: 950px;
}
.accessories{
    width: 675px;
    height: 770px;
    right: 0;
    left: -971px;
    position: absolute;
    float: left;

}
.clothes{
    width: 916px;
    height: 402px;
    left: 0px;
    bottom: 0;
    position: absolute;
}
.footwear{
    width: 950px;
    height: 550px;
    right: 0;
    top: 0;
    position: absolute;}

.Lifestyle{
    width: 670px;
    height: 681px;
    right: 11px;
    bottom: 140px;
    position: absolute;}

/*header style end*/

#contents{
    width:1650px;
    height: 650px;
    background: #f4f4f6;
    overflow:hidden;
    padding: 60px;
}
/*first content*/
#first_content{
    width: 1650px;
    background-color:#f4f4f6;
    overflow: hidden;   
    position: relative;
}
.hotdeal-brand{
    padding-left: 10px;
}
  
.hotdeal-img{
    float: right;
    padding:30px;
}

.hotdeal-logo{
    opacity: 80%;
    padding-left: 10px;

}
.brand_text{
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#hotdeal-text{
    float: left;
    width: 1200px;
}
#hotdeal-text>p>img{
    padding-bottom: 30px;
}


#search-bar:checked~div#Search{
    display: block;
}
#u-search{
    height: 40px;
    width: 767px;
    padding: 5px 10px;
    border-radius:20px ;
    outline-style:none ;
    border: 1px solid#f4f4f6;
}
#Search{  
    left: 50%;
    top: 68px;
    width: 1650px;
    text-align: center;
    padding: 30px 0;
    margin-left: -900px;
    display: none; 
    position: absolute;
}
#search-bar:checked~#Search{display:block;}
#search-bar{display: none;}


#inner_content_first{
    width: 1750px;
    background: #f4f4f6;
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}

#inner_content_second{
    width: 1750px;
    background:#f4f4f6;
    overflow: hidden;
    clear: both;
    padding-bottom: 20px;
}


.Today-Cordinate>ul>li{
    overflow:hidden;
    float: left;
    margin-left: 30px;
    position: relative;
}
.icon{
    position: absolute;
    left: 0;
    top: 240px;;
    width: 100%;
    z-index: 10;
    padding: 10px;
}
.heart-btn{float: left; padding-left: 5px;}
.paper-plane-btn{float: right; padding-right: 20px;}


#Today-Cordinate>ul{
    margin-left: 10px;
}


#instagram-gallery{
    width: 1650px;
    margin:0 auto; 
}
#instagram-gallery:after{
    clear:both;
    content:'';
    display: block;
}
#instagram-gallery>div{
    width:32%;
    float:left;
    box-sizing: border-box;
    overflow:hidden;
}
#instagram-gallery>div:nth-child(2){
    margin:0 2%;
}
.social_community{
    width:100%;
    overflow:hidden;
    text-align: center;
    position: relative;
    margin-bottom:20px;
}
.social_community>img{
    width: 100%;
    vertical-align: top;
   
}
.social_icon{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 50px;
    z-index: 100;
    padding:0 30px;
    box-sizing: border-box;
    line-height: 50px;

}
.social_icon>a>img{vertical-align: middle;}
.social_icon>a:first-child{float:left; display:block; }
.social_icon>a:last-child{float:right; display:block;}



/*first content end*/



/*second content*/
#second_content #product_compare_left,#product_compare_right{ 
    padding: 30px 0;}
#second_content{ 
    width: 1750px;
    height: 574px;
    margin-top: 10px;
    background-color: #f4f4f6;
   
    
} 
#product_compare_left{
    float: left;
    width: 500px;
    margin-left: 40px;
    position: relative;
}

#product_compare>div>.text-area{
    position: absolute;
    left: 18px;
    bottom: 17px;
    width: 460px;
}
#product_compare>h2{
    padding: 10px 0;
    text-align: center;  
}

#product_compare>.product_compare_first{
    float: left;
    width: 410px;
    margin-left: 30px;
    position: relative;
}

#product_compare>.product_compare_second{
    float: right;
    width: 420px;
    position: relative;
}

#product_compare>.product_compare_third{
    float: right;
    width: 394px;
    position: relative;
}


#product_compare>.product_compare_fourth{
    float: left;
    width: 392px;
    position: relative;
}


#Celebrity-Select>ul>li>.text-area{
    float: left;
    padding-top: 145px;
}
#Celebrity-Select>ul>li>img{float: right;}
#Celebrity-Select{
    float: left;
}
#Celebrity-cordi{
    width: 1750px;
    overflow: hidden;
    margin-top: 10px;
    background: #ebdfa5;
}
.Celebrity-cordi_first{
    margin-right: 5px;
}
.Celebrity{ 
    padding-left: 45px;
    float: left;
    background: #ebdfa5;
}

.choice-celeb{
    background: #ebdfa5;
    width: 492px;
}

.choice-celeb>ul>li{
    margin-bottom: 50px
}

#Celebchoice .text-area{
    float: left;
}
#footer>a{text-decoration-line: none;
color: #fff;}

/*second content end*/

/*third content*/


.New_arrival>div{
    float: left;
    width: 600px;
    margin: 100px 50px 0 50px;
    display: none;

}

.New_arrival>#New_brand{
    width: 293px;
    height: 308px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 25px;

}

.apotheke_Fgr{display: block !important;}
.Brain_dead{
    display: block !important;
}
#third_content{
    width: 1750px;
    margin: 10px auto;
    height: 350px;
    position: relative;
    background: #f4f4f6 url(Images/New-arrival.png)no-repeat 56%;   
    text-shadow: 1px 1px 1px #fff;
}


#New_brand>li{
    float: left;
}
img.Pre-btn {
    position: absolute;
    left: 82%;      
    top: 50%;
}
img.next-btn {
    position: absolute;
    right: 0;
    top: 50%;
}
#product_info_list{
    width: 1750px;
    height: 330px;
    background: #f4f4f6;
    padding: 2px 0 2px;
    position: relative;

}
.life_style_pb>div{
    float: right;
    width: 600px;
    margin: 57px 50px 0 50px;
    display: none;
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

}

.life_style_pb>#Life_style{
    float: right;
    width: 293px;
    height: 308px;
    overflow: hidden;

}

#Life_Style{
    width: 291px;
    height: 349px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#Life_Style>li{
    text-align: center;
    height: 349px;
    padding-left: 40px;
    padding-top: 10px;
}

ul#Life_Style>li>img {

    padding-top: 59px;
}

#third_content_two{
    margin: 10px auto;  
    width: 1750px;
    height: 350px;
    position: relative;
    background:url(Images/Life-style-pb.png)no-repeat; 
}

#second_product_info{
    width: 1750px;
    height: 330px;
    background: #ebdfa5;
    padding: 2px 0 2px;
    position: relative;
}
#product_info_list>li{
    float: left;
    text-align: center;
    padding-left: 20px;
}

#second_product_info>li{
    float: left;
    text-align: center;
    padding-right: 30px;
}

img.Pre-btn-down{
    position: absolute;
    left: 0%;
    top: 50%;
}
img.next-btn-down{
    position: absolute;
    right: 82%;
    top: 50%;
}

/*third content end*/


/*footer*/

#footer{
    width: 1750px;
    height: 227px;
    color: #fff;
    background-color:#000;
    margin-top:10px;
    clear: both;
}
#footer li>a{
    color: #f4f4f6;
    text-decoration: none;}
#center_footer{
    padding: 20px;
    padding-left: 370px;
    font-size: x-large;
    width: 321px;
    float:left;
}

#left_footer{
    padding: 20px;
    font-size: x-large;
    width:310px;
    float:left;
}

#Right_footer{
    padding: 20px;
    font-size: x-large;
    width: 377px;
    float: right;
}
li>fieldset{
    border: none;
    margin-bottom: 15px;
    width: 200px;
}
#mailsubscribe{
    height: 30px;
}

#center_footer>li{
padding: 10px;
}
#left_footer>li{
padding: 10px;
}
#Right_footer>li{
padding: 10px;
}

.subscribe_button{
    margin-top: 20px;
    border-radius: 10px;
    height: 26px;
    width: 120px;
}


/*footer end*/